div{
    background-color: grey;
}


div.prova{
    margin: 10px;
    padding: 30px;
    background-color: rgb(226,226,226);
}

.modificaStili{
    color:red;
    background-color: green;
    text-align: center;
    padding: 10px;
}